// Font Family
$playfair-font-family: 'Playfair Display',
serif;
$roboto-font-family: 'Roboto',
sans-serif;
// Font sizes
$font-size-xx-large: 70px;
$font-size-x-large: 30px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;