// Font Family
$playfair-font-family: 'Playfair Display',
serif;
$roboto-font-family: 'Roboto',
sans-serif;
// Font sizes
$font-size-xx-large: 70px;
$font-size-x-large: 30px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;
//Font Weight
$font-weight-100:100;
$font-weight-200:200;
$font-weight-300:300;
$font-weight-400:400;
$font-weight-500:500;
$font-weight-600:600;
$font-weight-700:700;
$font-weight-800:800;
$font-weight-900:900;