// Color Scheme
// First Color Scheme
$white-color: #fff;
$platinum-color: #e6e7e7;
$lightgray-color: #d1d1d1;
// Second Color Scheme
$fuzzywuzzy-color: #e56353;
$ruddypink-color: #d76c69;
$spanishpink-color: #ecbcba;
// Third Color Scheme
$eerieblack-color: #121619;
$raisinblack-color: #222323;
$nickel-color: #6c6e70;