.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.profile__info {
    display: flex;
}

.profile__text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__text p {
    margin: 0;
}

.profile__avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}